# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
- name: NFS slurm conf edit ops !!
  block:
    - name: Check if slurm.conf exists
      ansible.builtin.stat:
        path: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
      register: slurm_conf_path

    - name: Fail if slurm.conf does not exist
      ansible.builtin.fail:
        msg: "NFS share slurm conf missing. Please ensure the slurm.conf is created at {{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
      when: not slurm_conf_path.stat.exists

    - name: Generate slurmd opts for NFS
      ansible.builtin.set_fact:
        slurmd_args: "-f {{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf -d {{ installroot }}usr/sbin/slurmstepd"

    - name: Read slurm.conf file
      ansible.builtin.slurp:
        src: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
      register: slurm_conf

    - name: Extract control_node_list
      ansible.builtin.set_fact:
        ctld_list: "{{ (slurm_conf.content | b64decode | regex_findall('^SlurmctldHost=(\\S+)', multiline=True)) }}"
