# Copyright 2025 Dell Inc. or its subsidiaries. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---

- name: Fresh cluster - Include common tasks
  ansible.builtin.include_tasks: common.yml

- name: Append share path if NFS
  ansible.builtin.set_fact:
    slurm_share_prefix: "{{ share_path + '/' + slurm_dir_name + cluster_name + '/' if (slurm_installation_type == nfs_share_slurm) else '/' }}"

- name: Create the slurm directory on share
  ansible.builtin.file:
    path: "{{ share_path }}/{{ slurm_dir_name }}"
    state: directory
    owner: root
    group: root
    mode: "{{ common_mode }}"
  when: (slurm_installation_type == nfs_share_slurm)
  # run_once: true

- name: Set nfs flow
  ansible.builtin.set_fact:
    installroot: "{{ slurm_share_prefix }}{{ ansible_architecture }}/"
  when: (slurm_installation_type == nfs_share_slurm)

- name: Ensure Slurm conf share dir
  ansible.builtin.file:
    path: "{{ slurm_share_prefix }}{{ slurm_config_dir }}"
    state: directory
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "{{ common_mode }}"

- name: Check if slurm.conf exists
  ansible.builtin.stat:
    path: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
  register: p

- name: Create slurm.conf
  ansible.builtin.template:
    src: "z_slurm.conf.j2"
    dest: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "{{ conf_file_mode }}"
  when: not p.stat.exists
  # run_once: true

- name: Create cgroup.conf
  ansible.builtin.template:
    src: "cgroup.conf.j2"
    dest: "{{ item }}"
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "{{ conf_file_mode }}"
  loop:
    - "{{ slurm_share_prefix }}{{ slurm_config_dir }}/cgroup.conf"
  notify:
    - Restart slurmd

- name: Add the login to conf
  ansible.builtin.lineinfile:
    path: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
    state: present
    line: "NodeName={{ inventory_hostname_short }}"
    insertafter: "^NodeName="
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "{{ conf_file_mode }}"
  when: (slurm_installation_type == configless_slurm)

- name: Add controller list in conf if not present
  ansible.builtin.lineinfile:
    path: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
    line: "SlurmctldHost={{ item }}"
    insertafter: '^ClusterName=*'
  loop: "{{ ctld_list }}"

- name: Remove the localhost line
  ansible.builtin.lineinfile:
    path: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
    line: "NodeName=localhost"
    state: absent

- ansible.builtin.debug:
    var: ctld_list

- name: Create architecture directories
  ansible.builtin.file:
    path: "{{ installroot }}"
    state: directory
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "{{ common_mode }}"
  when: (slurm_installation_type == nfs_share_slurm)

- name: Install slurm packages
  ansible.builtin.shell: "dnf install -y --installroot={{ installroot }} slurm" # noqa: command-instead-of-shell
  become: true
  failed_when: false # WARNING failure in the above task, install though error, repos also reset!!
  changed_when: false

- name: Enable SlurmdPort
  ansible.posix.firewalld:
    port: "{{ item }}/tcp"
    permanent: true
    zone: public
    state: enabled
    immediate: true
  loop:
    - "{{ slurm_conf_dict['SrunPortRange'] }}"

- name: Echo path env
  ansible.builtin.shell: echo $PATH # noqa: command-instead-of-shell
  changed_when: false
  register: path_out

- name: Get path env
  ansible.builtin.set_fact:
    env_path_list: "{{ (path_out.stdout | split(':') | reject('search', 'slurm') | list) }}"
    env_slurm_conf: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"
    ld_library_path: "/usr/lib64"

- name: Clean the environment
  community.general.ini_file:
    path: "{{ sys_env_path }}"
    option: "{{ item[0] }}"
    value: "{{ item[1] }}"
    state: "{{ 'present' if item[1] else 'absent' }}"
    no_extra_spaces: true
    owner: "{{ root_user }}"
    group: "{{ root_group }}"
    mode: "{{ conf_file_mode }}"
  loop:
    - "{{ ['PATH', false] }}"
    - "{{ ['SLURM_CONF', env_slurm_conf] }}"
    - "{{ ['LD_LIBRARY_PATH', false] }}"

- name: Handle NFS envs
  when: (slurm_installation_type == nfs_share_slurm) and _force_install_nfs
  block:
    - name: Set env special paths
      ansible.builtin.set_fact:
        env_path_list: "{{ (env_path_list + [installroot.rstrip('/') + '/usr/bin'] + [installroot.rstrip('/') + '/usr/sbin']) | join(':') }}"
        ld_library_path: "/usr/lib64:{{ installroot }}usr/lib64"
        env_slurm_conf: "{{ slurm_share_prefix }}{{ slurm_config_dir }}/slurm.conf"

    - name: Set env variable
      community.general.ini_file:
        path: "{{ sys_env_path }}"
        option: "{{ item[0] }}"
        value: "{{ item[1] }}"
        no_extra_spaces: true
        owner: "{{ root_user }}"
        group: "{{ root_group }}"
        mode: "{{ conf_file_mode }}"
      loop:
        - "{{ ['PATH', env_path_list] }}"
        - "{{ ['SLURM_CONF', env_slurm_conf] }}"
        - "{{ ['LD_LIBRARY_PATH', ld_library_path] }}"

- name: Enable etc enviroment
  ansible.builtin.shell: source {{ sys_env_path }} # noqa: command-instead-of-shell
  changed_when: false
