{% for component in functional_group_cloud_init_components['slurm_control_node_x86_64'] %}
- label: {{ component }}
  members:
    ids:
{% for xname in component_to_xnames[component] %}
      - {{ xname }}
{% endfor %}
{% endfor %}
