[mysqld]
datadir={{ slurm_mount_path }}/slurm/db/datadir
socket=/var/lib/mysql/mysql.sock
log-error={{ slurm_mount_path }}/slurm/db/mariadb.log
pid-file=/run/mariadb/mariadb.pid

# SlurmDBD recommended settings
innodb_buffer_pool_size={{ innodb_buffer_pool_size }}
innodb_lock_wait_timeout={{ innodb_lock_wait_timeout }}